<h1>Welcome!</h1>

<div class="notice">
	<%=h flash[:notice]%>
</div>

<table>
	<% @questions.each do |q| %>
		<tr class="voteRow">
			<td class="vote">
				<%= q.question %>
				<%= link_to 'Vote', vote_votes_path(:questionid => q.id), :class => "voting" %>
			</td>
		</tr> 
	<% end %>
</table>