<h1>Voting Results</h1>

<div class="notice">
	<%=h flash[:notice]%>
</div>

<p><strong><%= Question.where(:id => @questionid).first.question %></strong></p>

<% @answers.each do |a| %>
	<%= a.answer %> - <%= a.counter.to_i %><br />
<% end %>